<!DOCTYPE html>
<html>
  <head>
    <title>Metro Helper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: "navs/top_nav" %>
    <%= yield %>
  </body>
</html>
